.navbar {
  background-color: rgb(162, 161, 202);
    width: 100%;
  padding: 30px 24px;
  height: 10%;
}

.nav-list {
  list-style: none;      
  display: flex;
  width: 100%;
  gap: 220px;             
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.nav-list li a {
  text-decoration: none; 
  color: rgb(16, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  padding: 5px 15px;
   border: 5px solid gray;
  border-radius: 20%;
}

.nav-list li a:hover {
  color: rgb(130, 33, 33);
  opacity: 0.8;
}
